{% extends 'MyInventoryApp/base.html' %}
{% load static %}



                {% block content %}
                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="table-dark" scope="col"> Sku </th>
                                <th class="table-dark" scope="col"> Brand </th>
                                <th class="table-dark" scope="col"> Cost </th>
                                <th class="table-dark" scope="col"> Size </th>
                                <th class="table-dark" scope="col"> Mouth Size </th>
                                <th class="table-dark" scope="col"> Color </th>
                                <th class="table-dark" scope="col"> Supplied By </th>
                                <th class="table-dark" scope="col"> Current Qty </th>     
                            </tr>
                        </thead>
                        <tbody>
                            {% for w in waterbottles %}
                            <tr>
                                <td> {{ w.sku }} </td>
                                <td> {{ w.brand }} </td>
                                <td> {{ w.cost }} </td>
                                <td> {{ w.size }} </td>
                                <td> {{ w.mouth_size }} </td>
                                <td> {{ w.color }} </td>
                                <td> {{ w.supplied_by }} </td>
                                <td> {{ current_qty }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endblock %}