{% extends 'MyInventoryApp/base.html' %}
{% load static %}



                {% block bottles %}
                <div class="col-12">
                    <table class="table table-striped">
                        <thead >
                            <tr>
                                <th class="table-dark" scope="col"> SKU </th>
                                <th class="table-dark" scope="col"> Brand </th>
                                <th class="table-dark" scope="col"> Cost </th>
                                <th class="table-dark" scope="col"> Size </th>
                                <th class="table-dark" scope="col"> Mouth Size </th>
                                <th class="table-dark" scope="col"> Color </th>
                                <th class="table-dark" scope="col"> Supplied by </th>
                                <th class="table-dark" scope="col"> Current Quantity </th> 
                            </tr>
                        </thead>
                        <tbody>
                            {% for w in waterbottles %}
                            <tr>
                                <td> {{ w.SKU }} </td>
                                <td> {{ w.Brand }} </td>
                                <td> {{ w.Cost }} </td>
                                <td> {{ w.Size }} </td>
                                <td> {{ w.Mouth_size }} </td>
                                <td> {{ w.Color }} </td>
                                <td> {{ w.Supplied_by }} </td>
                                <td> {{ w.Current_quantity }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endblock %}